dataset/*
balanced_dataset_2s/*
logs/*
manuals/*
OneDrive_1_09-11-2025
__pycache__

# Output files
aggregated_results/*
scenario_labels/*
scenario_analysis/*
scenario_analysis_ALL/*
scenario_analysis_VAL/*
aggregated_results_ALL/*